---

---

<nav class="sticky top-0 z-50 flex justify-between items-center p-6 backdrop-blur-2xl">
    <a href="/" class="text-3xl font-extrabold tracking-tighter transform hover:scale-110 transition-transform">🥔 der Kartoffel</a>

    <div class="md:flex space-x-6">
        <a href="#about" class="md:text-2xl hover:text-spud-skin hover:scale-110 transition-all  transform hover:rotate-3 ">About Me</a>
    </div>
</nav>
